<div class="container">
  <div class="ui middle aligned center aligned grid">
    <div class="culumn">
      <img src="app/images/logo.png" alt="Logo" class="ui middle image logo" height="10%" />
      <h2 class="ui teal image header">
        <div class="content">
          Memorise
        </div>
      </h2>
    </div>
  </div>
  <div class="ios">
    <a class="ui bottom right floated button ios" href="https://itunes.apple.com/ca/app/memorise/id1196642316?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
  </div>
</div>
