<div *ngFor="let exam of examArray" class="ui middle aligned divided list">
  <div class="item">
    <img class="ui avatar image" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-1/p100x100/10691_485597818262060_582802800512167884_n.png?oh=361e213f4e697c4395bc4927d23e43ad&oe=58678DE7">
    <div class="content">
      <a class="header">{{exam.name}}</a>
      <div class="description">Updated 10 mins ago</div>
    </div>
    <div class="ui small right floated buttons">
      <button (click)="takeExam(exam.id)" class="ui button active">Test</button>
      <div class="or"></div>
      <button class="ui button">Edit</button>
    </div>
  </div>
</div>
