<div *ngFor="let exam of examArray" class="ui middle aligned divided list">
  <div class="item">
    <div class="content">
      <a class="ui olive circular label">{{exam.name[0] || uppercase}}</a>
      {{exam.name}}&nbsp;&nbsp;
      <a *ngFor="let tag of exam.tags" class="ui tiny teal tag label">{{tag.name}}</a>
      <div class="ui small right floated buttons">
        <button (click)="takeExam(exam.id)" class="ui button active positive">Test</button>
        <div class="or"></div>
        <button (click)="editExam(exam.id)" class="ui button">Edit</button>
      </div>
    </div>
  </div>
</div>

<confirm-dialog #confirmModal></confirm-dialog>
