<sm-search placeholder="Search..." (onSearch)="searchBytag($event)" [icon]="true"></sm-search>

<div class="ui middle aligned divided list">
  <div class="item" *ngFor="let tagName of tagNameArray" (click)="chooseTag(tagName)">
    <div class="content">
      <a class="header">{{tagName}}</a>
    </div>
  </div>
</div>

<div *ngFor="let keyword of searchKeywords" class="ui tiny orange tag label">
  {{keyword}}
  <i class="delete icon" (click)="deleteSearchTag(keyword)"></i>
</div>

<div *ngFor="let exam of examArray" class="ui middle aligned divided list">
  <div class="item">
    <div class="content">
      <div class="ui olive circular label">{{exam.name[0] || uppercase}}</div>
      {{exam.name}}&nbsp;&nbsp;
      <div *ngFor="let tag of exam.tags" class="ui tiny teal tag label">{{tag.name}}</div>
      <div class="ui small right floated buttons">
        <button (click)="takeExam(exam.id)" class="ui button active positive">Test</button>
        <div class="or"></div>
        <button (click)="editExam(exam.id)" class="ui button">Edit</button>
      </div>
    </div>
  </div>
</div>

<confirm-dialog #confirmModal></confirm-dialog>
