<div *ngIf="exam">
  <div *ngFor="let question of exam.questions; let i = index;">
    <div class="container" [hidden]="!(i == questionIndex)">
      <h4 class="ui horizontal divider header">
        <i class="Sticky Note Outline icon"></i>
        Question
      </h4>
      <div class="ui two column grid cards">
        <div class="ui sixteen wide column centered card question">
          <div class="content">
            <div class="right floated meta">{{i + 1}}</div>
          </div>
          <div class="content">
            <div class="header">
              {{question.sentence}}
            </div>
          </div>
        </div>
      </div>

      <br />

      <h4 class="ui horizontal divider header">
        <i class="Write icon"></i>
        Choices
      </h4>

      <div class="ui two column grid link cards answers">
        <div *ngFor="let answer of question.answers; let answerIndex = index;" class="column">
          <div class="ui fluid card"
               [ngClass]="{'olive': answerIndex == 0, 'teal': answerIndex == 1, 'purple': answerIndex == 2, 'pink': answerIndex == 3}"
               (click)="chooseAnswer(answerIndex); progressUp()">
            <div class="content">
              <div class="header">
                <div *ngFor="let a of answer" class="ui horizontal list">
                  <div class="item">
                    <div class="content">
                      {{a}}&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="question.description">
        <br />
        <h4 class="ui horizontal divider header">
          <i class="Write icon"></i>
          Description
        </h4>
        <div class="ui two column grid cards">
          <div class="ui sixteen wide column centered card description">
            <div class="content">
              <div class="right floated meta">{{i + 1}}</div>
            </div>
            <div class="content">
              <div class="header">
                {{question.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />

<stopwatch #stopwatchComponent></stopwatch>

<br /><br />

<sm-progress [progress]="progress" class="indicating"></sm-progress>


<sm-modal id="result-modal" #resultModal title="Result">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <modal-content>
    <div *ngIf="resultExam" class="ui relaxed divided list">
      <div *ngFor="let topic of resultExam.markedTopics; let i = index;" class="item">
        <i *ngIf="topic.volatileJson.correct" class="big checkmark olive middle aligned icon"></i>
        <i *ngIf="!topic.volatileJson.correct" class="big remove pink middle aligned icon"></i>
        <div class="content">
          <div *ngIf="!topic.volatileJson.correct">
            <div class="header">Wrong</div>
             {{topic.sampleAnswered}}
          </div>
          <div class="header">Correct</div>
           {{topic.sample}}
        </div>
        <div class="right floated content">
          <div class="ui">{{i + 1}}</div>
        </div>
      </div>
    </div>
  </modal-content>
  <modal-actions>
    <div class="ui positive basic approve button">OK</div>
  </modal-actions>
</sm-modal>


<confirm-dialog></confirm-dialog>
