<div *ngIf="exam">
  <div *ngFor="let question of exam.questions; let i = index;">
    <div class="container" [hidden]="!(i == questionIndex)">
      <div class="ui one column centered card question">
        <div class="content">
          {{question.sentence}}
        </div>
      </div>
      <div class="ui two column grid link cards answers">
        <div *ngFor="let answer of question.answers; let answerIndex = index;" class="column">
          <div class="ui fluid card" (click)="chooseAnswer(answerIndex)">
            <div class="content">
              {{answer[0]}} {{answer[1]}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="resultExam">
  <button smDirTooltip="Tooltip text" smDirPosition="bottom center" class="ui button positive" (click)="modal.show({transition: 'fly down'})">Show modal window</button>
  <sm-modal id="result-modal" #modal title="Result">
    <i class="close icon"></i>
    <div class="header">
      Modal Title
    </div>
    <modal-content>
      <div class="ui celled list">
        <div *ngFor="let topic of resultExam.result_array" class="item">
          <div *ngIf="topic.correct">
            <div class="content">
              <div class="header">Correct</div>
              {{topic.answer}}
            </div>
          </div>
          <div *ngIf="!topic.correct">
            <div class="content">
              <div class="header">Wrong</div>
              {{topic.answer}} -> {{topic.correct_answer}}
            </div>
          </div>
        </div>
      </div>
    </modal-content>
    <modal-actions>
      <div class="ui button">Cancel</div>
      <div class="ui button" (click)="hoge()">OK</div>
    </modal-actions>
  </sm-modal>
</div>
